:root {
  --header-font: "Montserrat", sans-serif;
  --standard-font: "Montserrat", sans-serif;
  --primary-color: #405160;
  --font-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--header-font);
  color: var(--font-color);
}

h5 {
  padding: 20px;
}

p {
  font-family: var(--standard-font);
  color: var(--font-color);
  font-size: 16;
}

body {
  background-image: url(../img/color\ background.png);
  background-size: cover;
}

.contact-btn,
.cv-btn {
  width: 120px;
}

.cv-btn {
  padding-left: 15px;
}

.section-left {
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: center;
  width: 25%;
  height: 90vh;
}

.section-right {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  width: 65%;
  height: 90vh;
  float: right;
  padding-top: 5vh;
}

.nav {
  display: block;
  text-align: left;
}

.nav-item {
  box-sizing: border-box;
  font-size: 12px;
  height: 112.328px;
  line-height: 20px;
  opacity: 1;
  padding-right: 29.1875px;
  font-size: 130px;
  font-weight: 300;
  color: var(--font-color);
  text-decoration: none;
}

.project-title {
  font-size: 80px;
  font-weight: 300;
}

.header {
  margin: 15px 0px;
  padding-left: 20px;
}

.header h1 {
  font-size: 15px;
  color: var(--font-color);
  text-transform: uppercase;
  font-weight: 800;
}

.description {
  padding-left: 20px;
  font-size: 13px;
  font-weight: 400;
}

.nav-item a {
  text-decoration: none;
  color: var(--font-color) !important;
}

.nav-item a:hover {
  text-decoration: underline;
}

.headline {
  font-size: 130px;
  padding-top: 200px;
}
.profile-img {
  max-width: 100%;
  padding: 200px 40px;
}

.contact {
  color: white !important;
}

.contact:hover {
  text-decoration: line-through;
}

@media (max-width: 1000px) {
  .section-left {
    flex-direction: row;
    position: static;
    justify-content: left;
    margin-top: 200px;
    margin-bottom: 40px;
    width: 100%;
    height: auto;
    padding-right: 10px;
  }

  .section-right {
    position: static;
    width: 100%;
    height: auto;
    text-align: left;
    margin-left: 20px;
    padding-top: 0;
  }

  .project-title {
    font-size: 55px;
    line-height: 1;
    padding: 10px 5px;
    height: 100%;
  }

  .headline {
    font-size: 120px;
    text-align: left;
    padding-top: 60px;
    padding-left: 10px;
    padding-right: 20px;
  }

  p {
    padding: 10px;
  }

  .name-headline {
    padding: 10px;
  }
  .profile-img {
    max-width: 100%;
    padding: 40px 40px;
  }

  .contact-btn,
  .cv-btn {
    margin: 10px !important;
    margin-bottom: 40px !important;
  }

  .header {
    margin-left: 10px;
  }

  .nav {
    margin-left: 10px;
  }

  body {
    margin-bottom: 1000px;
  }
}
